<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name=" Functional Suite">
	<test name=" Login Test">
		<classes>
			<class name="com.data.testng.Test1" />
		</classes>
	</test> <!-- Test -->

	<test name=" validating title Test">
		<classes>
			<class name="com.data.testng.TestDependsonmethods" />
		</classes>
	</test> <!-- Test -->

	<test name=" Dependency  Test">
		<classes>
			<class name="com.data.testng.Test2" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
